shamefully-hoist=true
auto-install-peers=true
@mobiscroll:registry=https://npm.mobiscroll.com
//npm.mobiscroll.com/:_authToken=dK1lkAIgPJWv9aMaTTNWno6moi3TPcCXisn2+CODlD0CvQqp/qsprMeQvuiYM9SWmGOA8bPMvj+HigCc18ccWA==
