*,
::before,
::after {
    @apply border-gray-700;
}

* {
    scrollbar-color: theme('colors.gray.700') transparent;
    scrollbar-width: thin;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: theme('colors.gray.700');
    border: 4px solid transparent;
    background-clip: content-box;
    border-radius: 10px;
}

body {
    @apply bg-gray-900 text-gray-100 font-sans text-base;
}

code {
    @apply text-gray-300 bg-gray-700 rounded-sm py-px px-1 font-sans;
}

.prose {
    --un-prose-borders: theme('colors.gray.100');

    & h1, h2, h3, h4, h5 {
        @apply color-indigo-150 font-500;
    }
    & h1, h2 {
        @apply mt-4 mb-1.5
    }
    & h3, h4, h5 {
        @apply mt-4 mb-1.5;
    }
    & h1 { 
        @apply text-xl;
    }
    & h2 { 
        @apply text-lg;
    }
    & h3 { 
        @apply text-base;
    }
    & h4 { 
        @apply text-[14.5px];
    }
    & h5 { 
        @apply text-xs uppercase;
    }
    & p {
        @apply mb-1 mt-0 text-gray-200 leading-normal;
    }
    & hr {
        @apply border-gray-600 border-b-1 border-b-solid;
    }
    & li::marker {
        @apply color-indigo-400;
    }
    

    & blockquote {
        @apply border-l-2.5 border-l-gray-500 p-l-2.5
    }

    & li {
        & p, ul {
            @apply m-0;
        }
        & ol {
            @apply my-0;
        }
    }

    & ul[data-type="taskList"] {
        @apply list-none p-0;

        > li {
            @apply flex gap-2;
        }
    }

    
    & code {
        @apply bg-gray-700 tracking-wide font-400;
        &::before,
        &::after {
            @apply content-none;
        }
    }

    & pre {
        @apply bg-gray-850/90 text-sm;

        & code {
            @apply bg-transparent;
        }
    }

}

input[type=checkbox] {
    @apply rounded-full text-indigo-400 border-gray-500 bg-transparent hover:border-gray-300 w-0.875em h-0.875em;

    &:focus {
        --un-ring-offset-width: 1px;
        --un-ring-offset-color: transparent;
    }

    &:checked {
        background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='m10 16.4l-4-4L7.4 11l2.6 2.6L16.6 7L18 8.4l-8 8Z'/%3E%3C/svg%3E");
    }
}

input[type=checkbox].subtask-checkbox {
    @apply rounded-full border-indigo-400 bg-transparent w-3 h-3;

    &:focus {
        --un-ring-offset-width: 1px;
        --un-ring-offset-color: transparent;
    }

    &:checked {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cmask id='mask0_1426_5339' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='12' height='12'%3E%3Crect width='12' height='12' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_1426_5339)'%3E%3Cpath d='M4.49693 10L1 6.2079L1.87423 5.25988L4.49693 8.10395L10.1258 2L11 2.94802L4.49693 10Z' fill='%23ecedfa80'/%3E%3C/g%3E%3C/svg%3E");
        border: 0;
        background-color: transparent;
    }
}
