$mbsc-ios-dark-background: #1C1D24;
$mbsc-ios-accent: #3E3799;

@import '@mobiscroll/vue/dist/css/mobiscroll.scss';

.mbsc-ios {

    @apply font-sans;
    
    // adjust the right padding of the event block
    &.mbsc-schedule-events.mbsc-ltr {
        right: 0.3rem;
    }

    // Hover styling
    &.mbsc-schedule-event-hover  {
        & .mbsc-schedule-event-background {
            @apply opacity-100 bg-blueberry-650
        }
    }

    // event block bg
    &.mbsc-schedule-event-background {
        @apply bg-blueberry-700 opacity-100;
    }

    // make the event bar gone for now
    &.mbsc-schedule-event-bar {
        @apply opacity-0;
    }

    // Event name label
    &.mbsc-schedule-event-title {
        @apply text-blueberry-200 text-[13px] mb-1 font-medium;
    }

    // Time label
    &.mbsc-schedule-event-range {
        @apply text-blueberry-200/60 text-[12px];
    }

    // Now indicator
    &.mbsc-schedule-time-indicator-time {
        @apply text-red-400;
    }

    &.mbsc-schedule-time-indicator {
        @apply border-red-400;
    }
}

// Row height
.mbsc-schedule-time-wrapper,
.mbsc-schedule-item {
  height: 90px;
}
